## Pandas的基本使用

In [9]:
import pandas as pd
import numpy as np
# 创建一组Series数据
# 1.创建Series
s1=pd.Series([90,86,70],index=['leo','kate','john'])
print("s1:",s1)
# 通过绝对位置查找
print("s1[0]:",s1[0])
# 通过标签
print("s1['leo']:",s1['leo'])
# 通过列表
print("s1[['leo','kate']]:",s1[['leo','kate']])
# 通过表达式
print("s1[s1>80]:",s1[s1>80])
#2.numpy中的ndarray：
s2=pd.Series(np.random.randn(5),index=list('ABCDE'))
print("s2:",s2)
# 3.数字创建
s3=pd.Series(6)
print("s3:",s3)
# 4.创建一组DataFrame数据-date_range创建时间
date=pd.date_range(start='20100101',periods=6)
print("data:",date)
df=pd.DataFrame(data=np.random.randn(6,4),index=date,
                columns=list('abcd'))
print("df",df)
#数据形状
print("数据形状",df.shape)
#数据维数
print("数据维数",df.ndim)
#数据元素
print("数据元素",df.values)
#对于单列数据访问
print("df.a:",df.a)
print("df['a']:",df['a'])
#访问a,b两列数据
print("df[['a','b']]:",df[['a','b']])
# 访问前三行数据
print("df[0:3]:",df[0:3])
print("df.head(5):",df.head(5))
#loc查找
print("loc:",df.loc['2010-01-01':'2010-01-04', ['a','b']])
#iloc查找
print("iloc:",df.iloc[:4,[0,1]])
#ix查找
print("ix",df.ix[:4,['a','b']])
#得到2010-01-04之前的数据
print("2010-01-04之前的数据:",df.loc[df.index<'20100104'])

s1: leo     90
kate    86
john    70
dtype: int64
s1[0]: 90
s1['leo']: 90
s1[['leo','kate']]: leo     90
kate    86
dtype: int64
s1[s1>80]: leo     90
kate    86
dtype: int64
s2: A    0.234937
B   -0.182112
C    0.581387
D   -0.602442
E   -1.964447
dtype: float64
s3: 0    6
dtype: int64
data: DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05', '2010-01-06'],
              dtype='datetime64[ns]', freq='D')
df                    a         b         c         d
2010-01-01  0.576823 -0.345919  1.877613  0.232567
2010-01-02  1.384933  0.765942  0.199318  0.252769
2010-01-03 -1.254105 -0.159633  0.727245  1.134302
2010-01-04 -1.104435 -1.712732 -0.942532 -1.287564
2010-01-05  1.005928  0.229913 -0.517854 -1.157346
2010-01-06  0.381870  1.976687  0.720692  0.582359
数据形状 (6, 4)
数据维数 2
数据元素 [[ 0.57682296 -0.34591924  1.87761286  0.23256733]
 [ 1.38493324  0.76594191  0.19931785  0.25276857]
 [-1.25410462 -0.15963331  0.72724494  1.1343021 ]
 [-1.10443544 -1.71273211 -0.94253205 -1.28756422]
 [ 1.00592822  0.22991286 -0.51785385 -1.15734557]
 [ 0.38186961  1.97668659  0.72069181  0.58235866]]
df.a: 2010-01-01    0.576823
2010-01-02    1.384933
2010-01-03   -1.254105
2010-01-04   -1.104435
2010-01-05    1.005928
2010-01-06    0.381870
Freq: D, Name: a, dtype: float64
df['a']: 2010-01-01    0.576823
2010-01-02    1.384933
2010-01-03   -1.254105
2010-01-04   -1.104435
2010-01-05    1.005928
2010-01-06    0.381870
Freq: D, Name: a, dtype: float64
df[['a','b']]:                    a         b
2010-01-01  0.576823 -0.345919
2010-01-02  1.384933  0.765942
2010-01-03 -1.254105 -0.159633
2010-01-04 -1.104435 -1.712732
2010-01-05  1.005928  0.229913
2010-01-06  0.381870  1.976687
df[0:3]:                    a         b         c         d
2010-01-01  0.576823 -0.345919  1.877613  0.232567
2010-01-02  1.384933  0.765942  0.199318  0.252769
2010-01-03 -1.254105 -0.159633  0.727245  1.134302
df.head(5):                    a         b         c         d
2010-01-01  0.576823 -0.345919  1.877613  0.232567
2010-01-02  1.384933  0.765942  0.199318  0.252769
2010-01-03 -1.254105 -0.159633  0.727245  1.134302
2010-01-04 -1.104435 -1.712732 -0.942532 -1.287564
2010-01-05  1.005928  0.229913 -0.517854 -1.157346
loc:                    a         b
2010-01-01  0.576823 -0.345919
2010-01-02  1.384933  0.765942
2010-01-03 -1.254105 -0.159633
2010-01-04 -1.104435 -1.712732
iloc:                    a         b
2010-01-01  0.576823 -0.345919
2010-01-02  1.384933  0.765942
2010-01-03 -1.254105 -0.159633
2010-01-04 -1.104435 -1.712732
ix                    a         b
2010-01-01  0.576823 -0.345919
2010-01-02  1.384933  0.765942
2010-01-03 -1.254105 -0.159633
2010-01-04 -1.104435 -1.712732
2010-01-04之前的数据:                    a         b         c         d
2010-01-01  0.576823 -0.345919  1.877613  0.232567
2010-01-02  1.384933  0.765942  0.199318  0.252769
2010-01-03 -1.254105 -0.159633  0.727245  1.134302

/home/liyuan3970/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:46: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [19]:
import numpy as np
import pandas as pd
# 创建DataFrame
df = pd.DataFrame([['Snow','M',22],['Tyrion','M',32],['Sansa','F',18],['Arya','F',14]], columns=['name','gender','age'])
# print(df)
#选取多列，gender和age列
# print(df[['gender','age']])
# print(df.loc[:,['gender','age']])
# print(df.iloc[:,[1,2]])
# print(df.iloc[:,1:3])
#读取第1行到第2行的数据
print(df[1:3])
# print(df.loc[[1,2]])
# print(df.iloc[1:3])
#读取第1行和第3行，从第0列到第2列,不包括第二列
# print(df.iloc[[1,3],0:2])
#读取倒数第3行到倒数第1行的数据，不包括最后一行
# print(df[-3:-1])

     name gender  age
1  Tyrion      M   32
2   Sansa      F   18

## Pandas 常用的两种数据结构（series和dataframe）

In [10]:
import pandas as pd
import numpy as np
# 1.Series创建
s1=pd.Series(data=[3,-5,7,4],index=list('ABCD'))
print(s1)
# 2.DataFrame创建
data=[['Belglum','Brussels',11190846],
      ['Indla','New Delhi',1303171035],
      ['Brazil','Brasilia',207847528]]
# 比利时 布鲁塞尔
# 印度 新德里
# 巴西 巴西利亚
df=pd.DataFrame(data=data,index=[1,2,3],
                columns=['Country','Capital','Population'])
print(df)

A    3
B   -5
C    7
D    4
dtype: int64
   Country    Capital  Population
1  Belglum   Brussels    11190846
2    Indla  New Delhi  1303171035
3   Brazil   Brasilia   207847528

## Pandas的增删改查

In [8]:
import pandas as pd
data = pd.Series([1,2,3],index=['a','b','c'])
data['d'] = 4
#data.append(pd.Series([5],index=['e'])
data
# 删除

del data['a']
data.pop('b')
data.drop('c')

# 改
data['c']=66
datas_pys.update(pd.Series([2,3,4],index = ['want','to','do']))
datas_pys.update(pd.Series([11],index=['to']))
data.index = ['a','b']

# 查
data['a']

data.index

a    1
b    2
c    3
d    4
dtype: int64

In [11]:
import pandas as pd

dates = pd.date_range('20130101',periods=10)
dates
import numpy as np

df = pd.DataFrame(np.random.randn(10,4),index=dates,columns=['A','B','C','D'])
df.head()
df['A'].head()

2013-01-01    0.194910
2013-01-02   -1.020880
2013-01-03   -0.724993
2013-01-04   -0.940912
2013-01-05    0.882872
Freq: D, Name: A, dtype: float64

In [12]:
import numpy as np
import pandas as pd
# 创建DataFrame
df = pd.DataFrame([['Snow','M',22],['Tyrion','M',32],['Sansa','F',18],['Arya','F',14]], columns=['name','gender','age'])
# print(df)
#选去多列，gender和age列
# print(df[['name','gender']])
# print(df.loc[:,['name','gender']])
# print(df.iloc[:,[0,1]])
# print(df.iloc[:,0:2])

#读取第1行到第2行的数据
# print(df[1:3])
# print(df.iloc[1:3])

#读取第1行和第3行，从第0列到第2列,不包括第二列
# print(df.iloc[[1,3],0:2])

#读取倒数第3行到倒数第1行的数据
# print(df[-3:-1])

print('本节课内容')
df1=df.copy()
print(df1)
# df1.loc[0,'age']=25
# df1.iloc[0,2]=25
# df1.at[0,'age']=25
# df1.iat[0,2]=25
print(df1)



# 给上个例子学生加上score一列。分别为：80，98，67，90
df1['score']=[80,98,67,90]
print(df1)

# 在gender后面加一列城市
# list.insert(index, obj)
# index -- 对象 obj 需要插入的索引位置。
# obj -- 要插入列表中的对象
col_name=df1.columns.tolist()
print(col_name)
col_name.insert(2,'city')
df1=df1.reindex(columns=col_name)
print(df1)
df1['city']=['北京','上海','广州','成都']
print(df1)
# 给上个例子学生加上一行信息

#首先，要创建一个DataFrame。要注意，
# 在这里需加入index属性，lisa F 北京 19 100
new=pd.DataFrame({'name':'lisa','gender':'F'
                     ,'city':'北京','age':19,'score':100},index=['1'])
#然后，开始插值。ignore_index=True,可以帮助忽略index，自动递增。
df1=df1.append(new,ignore_index=True)
print(df1)
df1=df1.reindex(columns=['name','gender',
                         'city','age','score'])
print(df1)


# print('删除功能练习')
# # 删除第0行
df2=df1.drop(labels=0,axis=0)
print(df2)

# # 删除第score列
df3=df1.drop(labels='score',axis=1)
print(df3)

print(df1)


# 对score列排序
df4=df1.sort_values(by='score',ascending=False)
print(df4)

本节课内容
     name gender  age
0    Snow      M   22
1  Tyrion      M   32
2   Sansa      F   18
3    Arya      F   14
     name gender  age
0    Snow      M   22
1  Tyrion      M   32
2   Sansa      F   18
3    Arya      F   14
     name gender  age  score
0    Snow      M   22     80
1  Tyrion      M   32     98
2   Sansa      F   18     67
3    Arya      F   14     90
['name', 'gender', 'age', 'score']
     name gender  city  age  score
0    Snow      M   NaN   22     80
1  Tyrion      M   NaN   32     98
2   Sansa      F   NaN   18     67
3    Arya      F   NaN   14     90
     name gender city  age  score
0    Snow      M   北京   22     80
1  Tyrion      M   上海   32     98
2   Sansa      F   广州   18     67
3    Arya      F   成都   14     90
     name gender city  age  score
0    Snow      M   北京   22     80
1  Tyrion      M   上海   32     98
2   Sansa      F   广州   18     67
3    Arya      F   成都   14     90
4    lisa      F   北京   19    100
     name gender city  age  score
0    Snow      M   北京   22     80
1  Tyrion      M   上海   32     98
2   Sansa      F   广州   18     67
3    Arya      F   成都   14     90
4    lisa      F   北京   19    100
     name gender city  age  score
1  Tyrion      M   上海   32     98
2   Sansa      F   广州   18     67
3    Arya      F   成都   14     90
4    lisa      F   北京   19    100
     name gender city  age
0    Snow      M   北京   22
1  Tyrion      M   上海   32
2   Sansa      F   广州   18
3    Arya      F   成都   14
4    lisa      F   北京   19
     name gender city  age  score
0    Snow      M   北京   22     80
1  Tyrion      M   上海   32     98
2   Sansa      F   广州   18     67
3    Arya      F   成都   14     90
4    lisa      F   北京   19    100
     name gender city  age  score
4    lisa      F   北京   19    100
1  Tyrion      M   上海   32     98
3    Arya      F   成都   14     90
0    Snow      M   北京   22     80
2   Sansa      F   广州   18     67

## Pandas的读取文件操作

## 读取数据
```python
import numpy as np
import pandas as pd



#获取csv文件,定义列名为width,height,category
csv=pd.read_csv('iris.csv',header=None,
                names=['width','height','category'],
                engine='python')
print(csv.head())
csv.iloc[0,2]=1
csv.to_csv('iris1.csv')




#获取表格文件
excel=pd.read_excel('data.xlsx')
print(excel)



# 读取data文件
movies = pd.read_table('movies.dat',header=None,
                      names=['MovieID','Title','Genres'],
                      sep='::',engine= 'python')
print(movies.head())


```

### 利用pandas 将数据存储在xlsx中

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame([['Snow','M',22],['Tyrion','M',32],
    ['Sansa','F',18],['Arya','F',14]], columns=['name','gender','age'])


## 将数据导出为excel文件
writer = pd.ExcelWriter('save_model.xlsx')
df.to_excel(writer,'page_1')
writer.save()